/*Global*/

.container {
  margin:0 auto; /* this will center the page */
  width: 900px; /*  use your width here */
  margin-top: 100px;
}

/* Links  */


.main-nav {
    text-decoration: underline;
    font-family: "SF Pro Display";
    font-weight: 450;
    padding-right: 19px;
    font-size: 20px !important;
    color: #1D70B8;
    font-weight: bolder !important;
    outline: none;
    padding: 5px;
}


a:link{
  text-decoration: underline;
  font-family: "SF Pro Display";
  font-weight: 450;
  padding-right: 20px;
  font-size: 19px;
  color: #1D70B8;
  font-weight: bolder;
  outline: none;
  padding: 5px;
}

a:visited {
  color: #4c2c92;
  text-decoration: underline;
  outline: none;
} 

a:hover {
color: #17598F;
text-decoration: underline;
outline: none;
} 

a:focus {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid;
  background-color: #FFDE00;
  outline: none;
  } 

a:active {
  color: black;     
}

.bottom-links{
  /* font-family: "Inter";
  font-size: 25px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.4px; */
  text-decoration: underline;
  font-family: "SF Pro Display";
  font-weight: 450;
  padding-right: 20px;
  font-size: 25px !important;
  color: #1D70B8;
  font-weight: bolder !important;
  outline: none;
  padding: 5px;
  width: 50%;
}















p {
  font-size: 19px;
  line-height: 39px;
  font-family: "Open Sans";
  font-weight: 400;
}

h1 {
  font-size: 65px;
  line-height: 85px;
  font-family: "SF Pro Display";
  font-weight: 650;
  color: black;
}

h2 {
  font-family: "SF Pro Display";
  font-size: 30px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.4px;
}

h3 {
  font-family: "SF Pro Display";
  font-size: 25px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
}


h4 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  color: black;
  letter-spacing: 0px;
}

h5 {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: black;
  letter-spacing: 0px;
}

h6 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 15px;
  color: grey;
  font-weight: normal;
  letter-spacing: 0px;
}

footer {
  margin-top: 150px;
}



/* Media queries for whole container on all pages */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.container {
width: 80%;
}
};

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }
}


/*Header*/

.header {
  width: 100%;
}

.name-top {
  width: 50%;
}

.navigation {
margin-bottom: 130px;
width: 50%;
}


.headertitle {
margin-bottom: 40px;
text-align: left;
}

.headerdescription {
margin-bottom: 150px;
text-align: left;
}

.grid
 {
  display: grid;
  grid-template-columns: repeat(2,450px);  /* 2 columns */
  grid-template-rows: repeat(2,590px); /* 3 rows  */
  grid-gap: 10px 80px;  
  margin-bottom: 150px;
}

.grid-item {
  padding: 0px;
  margin: 0px;
}


.project {
  width: 90%;
  object-fit: cover;
  height: 60%;
}






/* Media queries for grid to work responsively */

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1,450px);  /* 1 columns */
    grid-template-rows: repeat(5,590px); /* 5 rows  */
  }
}


@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1,450px);  /* 1 columns */
    grid-template-rows: repeat(5,590px); /* 5 rows  */
  }
}






/*Contact Page*/
.contacttitle {
  text-align: left;
}

.contactdescription {
  margin-bottom: 120px;
  text-align: left;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 15px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 0px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 12px; /* Add a top margin */
  margin-bottom: 45px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.4
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: grey;
}

/* Add a background color and some padding around the form */
.contactcontainer {
  border-radius: 5px;
  background-color: white;
  padding: 0px;
  margin-bottom: 150px;
}

label {
  font-family: "Inter";
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0px;
}

textarea {
  margin-bottom: 40px;
}

input {
  margin-bottom: 40px;
}

/* Media queries for contact page heading alignment*/

@media only screen and (max-width: 600px) {
  .contacttitle{
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .contacttitle {
    text-align: left;
  }
}

@media only screen and (max-width: 992px) {
  .contacttitle {
    font-size: 50px;
  }
} 

/* Media queries for contact page description text */

@media only screen and (max-width: 600px) {
  .contactdescriptiontext{
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .contactdescriptiontext{
    text-align: left; 
  }
}

@media only screen and (max-width: 992px) {
  .contactdescriptiontext {
    
  }
} 









/*About Page*/

.abouttitle {
  margin-bottom: 60px;
  text-align: left;
}

/* Given the big text a class in the h1 to identify it in the media query */
.abouttitletext {
  font-size: 50px;
}

/* Media queries for about page heading alignment and size */

@media only screen and (max-width: 600px) {
  .abouttitletext {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .abouttitletext {
    text-align: left;
  }
}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (max-width: 992px) {
  .abouttitletext {
    font-size: 50px;
  }
} */


.aboutimage {
  margin-bottom: 60px;
}

.aboutprofile {
  margin-bottom: 90px;
}

.aboutprofile {
  margin-top: 45px;
}

.aboutexperience {
margin-top: 90px;
}

.experiencesection {
margin-bottom: 310px;
}

.experiencesectiontitle {
  margin-bottom: 70px;
}

.experience-title {
float: left;
width: 20%;
}

.experience-description {
    float: right;
    width: 80%;
}


@media screen and (max-width: 900px) {
  .experience-title {
    width: 100%;
  }

  .experience-description {
    width: 100%;
  }
}

/* List styling on about page */

dd {
  margin-left: 170px;
  padding: 0px;
  position: relative;
  bottom: 55px;
}

/* dl {
  margin-left: 50px;
} */

/* dt {
  margin-left: 50px;
} */












/*Global for all project pages*/

.projecttitle {
  text-align: left;
}

.projectcaption {
  text-align: left;
  margin-bottom: 60px;
}

.projectimage {
  height: 50%;
  width: 100%;
  margin-bottom: 90px; 
}

.largersectiontitle {
  margin-bottom: 70px;
  margin-top: 70px; 
}

.subsectiontitle {
  margin-bottom: 35px;
}

.projectbody {
  margin-bottom: 66px; 
}

ul {
  list-style-type: bullets;
  margin: 20px;
  padding: 0;
}

li {
  font-size: 15px;
  line-height: 30px;
  font-family: "Inter";
  font-weight: 400;
}

caption {
  font-size: 15px;
  line-height: 30px;
  font-family: "Inter";
  font-weight: 400;
  color: grey;
}

section {
margin-bottom: 180px;
}





